<%- include('includes/header') %>

<%- include('includes/navbar') %>
<div class="just">
    <div class="bg-holder imgAbout overlay"></div>
  </div>

<%- include('includes/metaFunction') %>
<%- include('includes/staffs') %>
<%- include('includes/availableTime') %>
<%- include('includes/sectionInfo') %>


<%- include('includes/footer') %>