<%- include('includes/header') %>

<%- include('includes/navbar') %>
<div class="just">
    <div class="bg-holder imgAlumi overlay"></div>
  </div>
<%- include('includes/staffs') %>
<%- include('includes/sectionInfo') %>
<%- include('includes/footer') %>