<%- include('includes/header') %> <%- include('includes/navbar') %>

<main role="main" class="upSliderimg">
  <section class="py-0">
    <!-- Swiper -->
    <div class="swiper-container theme-slide min-vh-100">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div
            class="bg-press"
            style="background-image: url(/assets/images/slide1.jpg)"
          ></div>
          <!-- BG_PRESS -->

          <div class="container">
            <div class="row min-vh-100 py-8 align-items-center">
              <div
                class="col-sm-8 col-lg-7 px-5 px-sm-3 indexing-top formatter"
              >
                <h1 class="fs-md-5 lh-1">Ajudando Líderes</h1>
                <p class="pt-4 mb-2 fs-1 fs-md-2 lh-xs">
                  Estamos ansiosos para ajudá-lo a levar sua empresa a um novo
                  patamar.
                </p>
                <div class="overflow-hidden">
                  <a class="btn btn-primary me-3 mt-3" href="#"
                    >Mais informação<span
                      class="fas fa-chevron-right ms-2"
                    ></span
                  ></a>
                  <a class="btn btn-warning mt-3" href="/contact"
                    >Contacte-Nos<span class="fas fa-chevron-right ms-2"></span
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div
            class="bg-press"
            style="background-image: url(/assets/images/slide2.jpg)"
          ></div>
          <!-- BG_PRESS -->

          <div class="container">
            <div class="row min-vh-100 py-8 align-items-center">
              <div
                class="col-sm-8 col-lg-7 px-5 px-sm-3 indexing-top formatter"
              >
                <h1 class="fs-md-5 lh-1">Consultores especialistas</h1>
                <p class="pt-4 mb-2 fs-1 fs-md-2 lh-xs">
                  Mais de 10 anos de experiência em ajudar os clientes a
                  encontrar soluções abrangentes.
                </p>
                <div class="overflow-hidden">
                  <a class="btn btn-primary me-3 mt-3" href="#"
                    >Mais informação<span
                      class="fas fa-chevron-right ms-2"
                    ></span
                  ></a>
                  <a class="btn btn-warning mt-3" href="/contact"
                    >Contacte-Nos<span class="fas fa-chevron-right ms-2"></span
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div
            class="bg-press"
            style="background-image: url(/assets/images/slide3.jpg)"
          ></div>
          <!-- BG_PRESS -->

          <div class="container">
            <div class="row min-vh-100 py-8 align-items-center">
              <div
                class="col-sm-8 col-lg-7 px-5 px-sm-3 indexing-top formatter"
              >
                <h1 class="fs-md-5 lh-1">Parceiros de crescimento</h1>
                <p class="pt-4 mb-2 fs-1 fs-md-2 lh-xs">
                  Conecte-se com os principais consultores escolhidos a dedo
                  pela consultoria e finanças da Event.
                </p>
                <div class="overflow-hidden">
                  <a class="btn btn-primary me-3 mt-3" href="#"
                    >Mais informação<span
                      class="fas fa-chevron-right ms-2"
                    ></span
                  ></a>
                  <a class="btn btn-warning mt-3" href="/contact"
                    >Contacte-Nos<span class="fas fa-chevron-right ms-2"></span
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div
            class="bg-press"
            style="background-image: url(/assets/images/slide4.jpg)"
          ></div>
          <!-- BG_PRESS -->

          <div class="container">
            <div class="row min-vh-100 py-8 align-items-center">
              <div
                class="col-sm-8 col-lg-7 px-5 px-sm-3 indexing-top formatter"
              >
                <h1 class="fs-md-5 lh-1">
                  Implementação de tecnologias de vendas
                </h1>
                <p class="pt-4 mb-2 fs-1 fs-md-2 lh-xs">
                  Orientamos a especialização de papéis e preparamos os times de
                  marketing e vendas para executar o processo em alta
                  performance.
                </p>
                <div class="overflow-hidden">
                  <a class="btn btn-primary me-3 mt-3" href="#"
                    >Mais informação<span
                      class="fas fa-chevron-right ms-2"
                    ></span
                  ></a>
                  <a class="btn btn-warning mt-3" href="/contact"
                    >Contacte-Nos<span class="fas fa-chevron-right ms-2"></span
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div
            class="bg-press"
            style="background-image: url(/assets/images/slide5.jpg)"
          ></div>
          <!-- BG_PRESS -->

          <div class="container">
            <div class="row min-vh-100 py-8 align-items-center">
              <div
                class="col-sm-8 col-lg-7 px-5 px-sm-3 indexing-top formatter"
              >
                <h1 class="fs-md-5 lh-1">
                  Otimize processos e acelere suas vendas
                </h1>
                <p class="pt-4 mb-2 fs-1 fs-md-2 lh-xs">
                  Ajudamos na seleção e configuramos o melhor conjunto de
                  tecnologias de marketing e vendas para otimizar a operação.
                </p>
                <div class="overflow-hidden">
                  <a class="btn btn-primary me-3 mt-3" href="#"
                    >Mais informação<span
                      class="fas fa-chevron-right ms-2"
                    ></span
                  ></a>
                  <a class="btn btn-warning mt-3" href="/contact"
                    >Contacte-Nos<span class="fas fa-chevron-right ms-2"></span
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div
            class="bg-press"
            style="background-image: url(/assets/images/slide6.jpg)"
          ></div>
          <!-- BG_PRESS -->

          <div class="container">
            <div class="row min-vh-100 py-8 align-items-center">
              <div
                class="col-sm-8 col-lg-7 px-5 px-sm-3 text-left indexing-top formatter"
              >
                <h1 class="fs-md-5 lh-1">Consultoria de Gestão</h1>
                <p class="pt-4 mb-2 fs-1 fs-md-2 lh-xs">
                  Consultores de gestão frequentemente trabalhando com a equipe
                  de gerenciamento sênior, auxiliando-os com planejamento
                  estratégico.
                </p>
                <div class="overflow-hidden">
                  <a class="btn btn-primary me-3 mt-3" href="#"
                    >Mais informação<span
                      class="fas fa-chevron-right ms-2"
                    ></span
                  ></a>
                  <a class="btn btn-warning mt-3" href="/contact"
                    >Contacte-Nos<span class="fas fa-chevron-right ms-2"></span
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </section>

  <!--==================================================================-->
  <!--==================================================================-->
  <!--==================================================================-->
  <!--==================================================================-->
  <!--close section-->

  <section class="justify">
    <div class="container">
      <div class="row justify-content-center text-center">
        <h1>Seja Bem-Vindo ao Event</h1>
        <p class="formating">Escolha o Event com os melhores consultores</p>
        <span class="short"></span>
      </div>
      <!--text-center-->

      <div class="row mt-4 mt-md-5">
        <div class="col-sm-6 col-lg-3 mt-4">
          <div class="texts">
            <div class="circle ring-icon mx-auto">
              <img src="/assets/svgs/estatisticas.svg" alt="estatisticas" />
            </div>
            <h5 class="mt-4">Consultoria de Negócios</h5>
            <p class="formating">
              Solução para todos os problemas relacionados ao negócio, com
              rapidez e habilidade.
            </p>
          </div>
          <!--texts-->
        </div>
        <!--col-sm-6 -->

        <div class="col-sm-6 col-lg-3 mt-4">
          <div class="texts">
            <div class="circle ring-icon mx-auto">
              <img src="/assets/svgs/sino.svg" alt="sino" />
            </div>
            <!--col-sm-6 -->
            <h5 class="mt-4">Gerenciamento de Riscos</h5>
            <p class="formating">
              Calcule todos os riscos possíveis em seu negócio, tome controle
              sobre eles.
            </p>
          </div>
          <!--texts-->
        </div>
        <!--col-sm-6 -->
        <div class="col-sm-6 col-lg-3 mt-4">
          <div class="texts">
            <div class="circle ring-icon mx-auto">
              <img src="/assets/svgs/light.svg" alt="light" />
            </div>
            <h5 class="mt-4">Pesquisa de Mercado</h5>
            <p class="formating">
              Conheça o mercado antes de dar qualquer passo, reduza riscos antes
              de ir.
            </p>
          </div>
          <!--texts-->
        </div>
        <!--col-sm-6 -->
        <div class="col-sm-6 col-lg-3 mt-4">
          <div class="texts">
            <div class="circle ring-icon mx-auto">
              <img src="/assets/svgs/fone.svg" alt="font" />
            </div>
            <h5 class="mt-4">Serviços de Qualidade</h5>
            <p class="formating">
              Experience unparalleled service, from beginning to final
              construction.
            </p>
          </div>
          <!--texts-->
        </div>
        <!--col-sm-6 -->
      </div>
      <!--mt-4 mt-md-5 row -->
    </div>
    <!--container-->
  </section>
  <!--==================================================================-->
  <!--==================================================================-->
  <!--==================================================================-->
  <!--==================================================================-->
  <!--close section-->

  <section class="pt-0">
    <div class="container">
      <div class="row flex-center text-center pb-6">
        <div class="col-12">
          <div
            class="position-relative mt-4 py-5 py-md-11"
            style="height: 600px"
          >
            <div class="bg-holder rounded-3 videoImages">
              <iframe
                class="bg-holder rounded-3"
                src="https://www.youtube.com/embed/PfxLRA2bJ3A"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>

              <!-- <button class="btn-event-player videoModel">
                    <img src="/assets/svgs/toque.svg" alt="consulting" />
                  </button> PARA BUTAO PLAYER -->

              <!--btn-event-->
            </div>
            <!--/.bg-holder-->
          </div>
        </div>
        <!--col-12-->
      </div>
      <!-- row flex-center-->

      <div class="row mt-5">
        <div class="col-sm-6 col-lg-4 mt-5 mt-lg-0 px-4 px-sm-3 textJustify">
          <div class="texts">
            <h5>
              <img src="/assets/svgs/usuarios.svg" alt="usuarios" />Equipe
              Incrível
            </h5>
            <p>
              Antes de falar sobre o destino, destacamos a sua organização para
              compreendê-lo completamente.
            </p>
          </div>
          <!--texts-->
        </div>

        <div class="col-sm-6 col-lg-4 mt-5 mt-lg-0 px-4 px-sm-3 textJustify">
          <div class="texts">
            <h5>
              <img src="/assets/svgs/comments.svg" alt="comments" />Excelente
              Suporte
            </h5>
            <p>
              Se você enfrentar algum problema, sempre poderá deixar nossa
              equipe de suporte dedicada ajudá-lo. Eles estão prontos para você
              24/7.
            </p>
          </div>
          <!--texts-->
        </div>

        <div class="col-sm-6 col-lg-4 mt-5 mt-lg-0 px-4 px-sm-3 textJustify">
          <div class="texts">
            <h5>
              <img src="/assets/svgs/bolt.svg" alt="bolt" />Desempenho Rápido
            </h5>
            <p>
              Desenvolvemos um processo sistemático e bem ordenado de análise,
              desde o conceito até a implementação.
            </p>
          </div>
          <!--texts-->
        </div>
      </div>
      <!--row-->
    </div>
    <!--container-->
  </section>
  <!--==================================================================-->
  <!--==================================================================-->
  <!--==================================================================-->
  <!--==================================================================-->
  <!--close section-->

  <%- include('includes/servicesWorker') %>
  <!--==================================================================-->
  <!--==================================================================-->
  <!--==================================================================-->
  <!--==================================================================-->
  <!--close section-->
  <%- include('includes/informativeTeam') %>
  <!--==================================================================-->
  <!--==================================================================-->
  <!--==================================================================-->
  <!--==================================================================-->
  <!--close section-->

  <%- include('includes/availableTime') %>
  <!--==================================================================-->
  <!--==================================================================-->
  <!--==================================================================-->
  <!--==================================================================-->
  <!--close section-->

  <!--Begin-->
  <section></section>
  <!--==================================================================-->
  <!--==================================================================-->
  <!--==================================================================-->
  <!--==================================================================-->
  <!--close section-->

  <section class="bg-event">
    <div class="container">
      <div class="justify-content-center text-center">
        <h4 class="fs-3 fs-md-2">Por que escolher o Event</h4>
        <span class="short"></span>
      </div>

      <div class="row text-center">
        <div class="col-md-6 col-lg-4 mt-4">
          <div class="texts">
            <div class="px-3 py-4 px-lg-4">
              <img src="/assets/images/envio.png" height="37" alt="icon" />
              <h5>Suporte criativo</h5>
              <p>
                Transformamos marcas, expandimos negócios e contamos histórias
                de marcas e produtos da maneira mais criativa possível.
              </p>
            </div>
          </div>
          <!--texts-->
        </div>

        <div class="col-md-6 col-lg-4 mt-4">
          <div class="texts">
            <div class="px-3 py-4 px-lg-4">
              <img src="/assets/images/mail.png" height="37" />
              <h5>Criando experiências</h5>
              <p>
                Cobrimos uma grande variedade de plataformas criativas e
                projetos digitais com um propósito: criar experiências.
              </p>
            </div>
          </div>
          <!--texts-->
        </div>

        <div class="col-md-6 col-lg-4 mt-4">
          <div class="texts">
            <div class="px-3 py-4 px-lg-4">
              <img src="/assets/images/alvo.png" height="37" />
              <h5>Consultoria de produtos</h5>
              <p>
                Nós o guiamos pelos pipelines que geram novos produtos com maior
                potencial e menor risco.
              </p>
            </div>
          </div>
          <!--texts-->
        </div>

        <div class="col-md-6 col-lg-4 mt-4">
          <div class="texts">
            <div class="px-3 py-4 px-lg-4">
              <img src="/assets/images/mundo.png" height="37" />
              <h5>Impulsionamento dos negócios</h5>
              <p>
                Fornecemos soluções energeticamente eficientes e ambientalmente
                conservadoras aos nossos clientes para impulsionar seus
                negócios.
              </p>
            </div>
          </div>
          <!--texts-->
        </div>

        <div class="col-md-6 col-lg-4 mt-4">
          <div class="texts">
            <div class="px-3 py-4 px-lg-4">
              <img src="/assets/images/dinheiro.png" height="37" />
              <h5>Abordagem Estratégica</h5>
              <p>
                Com base em um arcabouço estratégico sólido e pesquisas reais e
                relevantes, criamos protótipos, não apresentações.
              </p>
            </div>
          </div>
          <!--texts-->
        </div>

        <div class="col-md-6 col-lg-4 mt-4">
          <div class="texts">
            <div class="px-3 py-4 px-lg-4">
              <img src="/assets/images/analysis.png" height="37" />
              <h5>Consultoria Logística</h5>
              <p>
                We work buy side and sell side to give our clienrts hard hitting
                answers and focus hard on best opportunities.
              </p>
            </div>
          </div>
          <!--texts-->
        </div>
      </div>
    </div>
  </section>
  <!--==================================================================-->
  <!--==================================================================-->
  <!--==================================================================-->
  <!--==================================================================-->
  <!--close section-->

  <section class="bg-won">
    <div class="container">
      <div class="row align-items-center text-white">
        <div class="col-lg-4 text-white">
          <div
            class="border border-2 border-info p-4 py-lg-5 text-center rounded-3"
          >
            <div class="texts">
              <h4>Solicitar uma chamada de volta</h4>
              <p class="px-lg-1 text-100 mb-0">
                Gostaria de falar com um de nossos consultores financeiros por
                telefone? Basta enviar seus dados e entraremos em contato em
                breve. Você também pode nos enviar um e-mail se preferir.
              </p>
            </div>
            <!--texts-->
          </div>
        </div>

        <div class="col-lg-8 ps-lg-5 mt-6 mt-lg-0">
          <h5 class="text-white">Eu gostaria de discutir:</h5>
          <!-- FORM  -->
          <form class="mt-4 form-right" action="">
            <div class="row">
              <div class="col-6">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Seu Nome"
                  aria-label="Seu Nome"
                />
              </div>

              <div class="col-6">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Número de telefone"
                  aria-label="Número de telefone"
                />
              </div>

              <div class="col-6 mt-4">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Assunto"
                  aria-label="Assunto"
                />
              </div>

              <div class="col-6 mt-4">
                <input
                  type="submit"
                  class="btn btn-warning w-100"
                  value="Enviar"
                  style="font-weight: 600"
                />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!--==================================================================-->
  <!--==================================================================-->
  <!--==================================================================-->
  <!--==================================================================-->
  <!--close section-->

  <!--BEGIN SECTION-->

  <%- include('includes/staffs') %>
  <!--==================================================================-->
  <!--==================================================================-->
  <!--==================================================================-->
  <!--==================================================================-->
  <!--close section-->

  <%- include('includes/metaFunction') %>
  <!--==================================================================-->
  <!--==================================================================-->
  <!--==================================================================-->
  <!--==================================================================-->
  <!--close section-->

  <%- include('includes/clients') %>
  <!--==================================================================-->
  <!--==================================================================-->
  <!--==================================================================-->
  <!--==================================================================-->
  <!--close section-->

  <%- include('includes/brandsLogo') %>

  <!--==================================================================-->
  <!--==================================================================-->
  <!--==================================================================-->
  <!--==================================================================-->
  <!--close section-->

  <section class="bg-news">
    <div class="container">
      <div class="row justify-content-center text-center">
        <h1>Últimas Notícias</h1>
        <span class="short"></span>
      </div>
      <div class="mb-5">
        <div class="row g-4">
          <div class="col-md-6 col-lg-4">
            <div class="card">
              <a href=""
                ><img
                  class="card-img-top"
                  src="/assets/images/news1.jpg"
                  alt="news1"
              /></a>
              <div class="card-body">
                <div class="overflow-hidden">
                  <div class="texts">
                    <a href=""
                    ><h5>
                      Impactos fiscais do arrendamento significam mudança
                      contábil
                    </h5></a
                  >
                  <p>By Paul O'Sullivan</p>
                  <p>
                    HMRC divulgou um documento de consulta para sinalizar alguns
                    impactos fiscais potenciais que uma próxima mudança...
                  </p>
                  <div class="d-inline-block">
                    <a class="d-flex align-items-center" href="">Ler Mais ⟶</a>
                  </div>

                  </div> <!--texts-->

                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4">
            <div class="card">
              <a href=""
                ><img
                  class="card-img-top"
                  src="/assets/images/news2.jpg"
                  alt="news1"
              /></a>
              <div class="card-body">
                <div class="overflow-hidden">
                  <div class="texts">
                    <a href=""
                    ><h5>
                      O que significa o brexit para a lei de proteção de dados
                    </h5></a
                  >
                  <p>By Enrico Ambrosi</p>
                  <p>
                    Supondo que o referendo não seja completamente ignorado, há
                    dois futuros possíveis para o Reino Unido...
                  </p>
                  <div class="d-inline-block">
                    <a class="d-flex align-items-center" href="">Ler Mais ⟶</a>
                  </div>
                  </div> <!--texts-->
           
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4">
            <div class="card text-left">
              <a href=""
                ><img
                  class="card-img-top"
                  src="/assets/images/news3.jpg"
                  alt="news1"
              /></a>
              <div class="card-body">
                <div class="overflow-hidden">
                  <div class="texts">
                    <a href=""
                    ><h5>
                      A crescente importância da fraude de engenharia social
                    </h5></a
                  >
                  <p class="text-500">By Robson</p>
                  <p>
                    A engenharia social envolve a coleta de informações de
                    várias fontes sobre um alvo...
                  </p>
                  <div class="d-inline-block">
                    <a class="d-flex align-items-center" href="">Ler Mais ⟶</a>
                  </div>
                  </div> <!--texts-->
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--==================================================================-->
  <!--==================================================================-->
  <!--==================================================================-->
  <!--==================================================================-->
  <!--close section-->

  <%- include('includes/sectionInfo') %>

  <!--==================================================================-->
  <!--==================================================================-->
  <!--==================================================================-->
  <!--==================================================================-->
  <!--close section-->
</main>
<%- include('includes/footer') %>
